
    <%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar') %>

    <main>
        <div>
            <h1>Dashboard</h1>

    </main>

    <%- include('./partials/footer') %>
</body>
</html>
